<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Real Estate Management System</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body>

    <nav class="shadow-lg py-4 rounded-lg w-[95%] m-auto glass border border-gray-600">
        <div class="container mx-auto px-4 flex justify-between items-center">
            <div class="text-2xl font-bold">Real Estate</div>
            <div class="hidden md:flex space-x-10 ">
                <% if(!user){ %>
                    <a class="hover:bg-gray-700 rounded-full text-white py-3 px-6 bg-gray-600 transition duration-300 ease-in-out transform hover:scale-105"
                        href="/user">Home</a>
                    <a class="hover:bg-gray-700 rounded-full text-white py-3 px-6 bg-gray-600 transition duration-300 ease-in-out transform hover:scale-105"
                        href="/user/login">Login</a>
                    <a class="hover:bg-gray-700 rounded-full text-white py-3 px-6 bg-gray-600 transition duration-300 ease-in-out transform hover:scale-105"
                        href="/user/about">About
                        us</a>

                    <% } else { %>
                        <a class="hover:bg-gray-700 rounded-full text-white py-3 px-6 bg-gray-600 transition duration-300 ease-in-out transform hover:scale-105"
                            href="/user/profile">Profile</a>
                        <a class="hover:bg-gray-700 rounded-full text-white py-3 px-6 bg-gray-600 transition duration-300 ease-in-out transform hover:scale-105"
                            href="/user/logout">Logout</a>
                        <a class="hover:bg-gray-700 rounded-full text-white py-3 px-6 bg-gray-600 transition duration-300 ease-in-out transform hover:scale-105"
                            href="/user/about">About
                            us</a>

                        <% } %>


            </div>
            <div class="md:hidden">
                <button id="menu-toggle" class="focus:outline-none">
                    <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                        xmlns="http://www.w3.org/2000/svg">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="M4 6h16M4 12h16m-7 6h7"></path>
                    </svg>
                </button>
            </div>
        </div>
        <div id="mobile-menu" class="md:hidden hidden">
            <div class="px-2 pt-3 pb-3 space-y-1">
                <% if(!user){ %>
                    <a class="border border-gray-600 text-center block transform hover:scale-105 transition duration-300 hover:bg-gray-700 rounded-full text-white w-[90%] m-auto"
                        href="/user">Home</a>
                    <a class="border border-gray-600 text-center  block transform hover:scale-105 transition duration-300 hover:bg-gray-700 rounded-full text-white w-[90%] m-auto"
                        href="/user/login">Login</a>
                    <a class="border border-gray-600 text-center  block transform hover:scale-105 transition duration-300 hover:bg-gray-700 rounded-full text-white w-[90%] m-auto"
                        href="/user/about">About us</a>

                    <% } else { %>
                        <a class="border border-gray-600 text-center block transform hover:scale-105 transition duration-300 hover:bg-gray-700 rounded-full text-white w-[90%] m-auto"
                            href="/user">Home</a>
                        <a class="border border-gray-600 text-center block transform hover:scale-105 transition duration-300 hover:bg-gray-700 rounded-full text-white w-[90%] m-auto"
                            href="/user/profile">Profile</a>
                        <a class="border border-gray-600 text-center block transform hover:scale-105 transition duration-300 hover:bg-gray-700 rounded-full text-white w-[90%] m-auto"
                            href="/user/logout">Logout</a>
                        <a class="border border-gray-600 text-center block transform hover:scale-105 transition duration-300 hover:bg-gray-700 rounded-full text-white w-[90%] m-auto"
                            href="/user/about">About
                            us</a>

                        <% } %>
            </div>
        </div>
    </nav>
    <script>
        const menuToggle = document.getElementById('menu-toggle');
        const mobileMenu = document.getElementById('mobile-menu');

        menuToggle.addEventListener('click', () => {
            mobileMenu.classList.toggle('hidden');
        });
    </script>