<%- include('partials/header') %>
    <div class="m-auto w-[100%]">
        <h1 class="w-[20%] text-2xl rounded-3xl border border-slate-900 px-4 py-2 mt-4 text-center m-auto">
            Create Appointment</h1>

        <hr class="mb-5 mt-2 w-[90%] px-4 m-auto">

        <div class="w-[45%] m-auto rounded-xl mt-10 bg-gray-200 text-center">
            <form class="m-auto px-2 py-10" action="/appointment/<%= property%>" method="post">
                <input class="w-[50%] text-center rounded-2xl border border-slate-700 mb-5  px-2 py-3 text-xl bg-gray-100"
                    type="text" name="status" placeholder="scheduled, completed, cancelled"><br> <br>
                <input class="w-[50%] rounded-2xl border border-slate-700 mb-5 px-20 py-2 text-xl bg-gray-100"
                    type="date" name="date" placeholder="Date"> <br> <br>
                <button
                    class="border-slate-700 text-xl border rounded-2xl bg-gray-200 w-[45%] px-3 py-2">Submit</button>
            </form>
        </div>

    </div>
    <%- include('partials/footer') %>