<!DOCTYPE html>
<html>
  <head>
    <title>RealState</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  
    <p>Welcome to Real State Management System</p>
  </body>
</html>
