<%- include("partials/header")%>
    <div class="w-[70%] mx-auto">

        <h1
            class="w-[25%] hover:bg-slate-400 text-2xl rounded-3xl border border-slate-900 px-3 py-3 italic mt-4 hover:not-italic text-center m-auto">
            Register Page</h1>
        <form class="w-[70%] m-auto rounded-xl  mt-5 m-auto text-center mb-5 bg-slate-400 p-2" action="/user/register"
            method="post">
            <input class="rounded-2xl border border-slate-700 text-black-400 mt-5 px-10 py-3 text-xl bg-slate-500"
                type="text" name="name" placeholder="enter name">
            <br> <br>
            <input class="rounded-2xl border border-slate-700 text-black-400 mt-5 px-10 py-3 text-xl bg-slate-500"
                type="email" name="email" placeholder="enter email">
            <br> <br>
            <input class="rounded-2xl border border-slate-700 text-black-400 mt-5 px-10 py-3 text-xl bg-slate-500"
                type="password" name="password" placeholder="enter password">
            <br><br>
            <input class="rounded-2xl border border-slate-700 text-black-400 mt-5 px-10 py-3 text-xl bg-slate-500"
                type="text" name="role" placeholder="buyer | seller | agent">
            <br> <br>
            <button
                class="border rounded-2xl border-slate-700 px-20 py-2 text-2xl mb-1 hover:bg-slate-500">Register</button>
        </form>
        <div class=" w-[65%] m-auto text-slate-900 font-semibold text-xl m-auto text-center p-3">Already Have
            an account ?
            <a class="hover:bg-slate-400 text-2xl rounded-full border border-slate-900 px-5 py-2 italic hover:not-italic"
                href="/user/login">Login User</a>
        </div>
    </div>


    <%- include('partials/footer') %>

        <%- include('partials/footer') %>